@model IEnumerable<QCMApp.Questionnaires>

@{
    ViewBag.Title = "Index";
}

<h2>Liste questionnaires</h2>

<p>
    @Html.ActionLink("Nouveau questionnaire", "PageCreateQuestionnaire", "Questionnaire")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.intitule)
        </th>
        <th>
            Date de création
        </th>
        <th>
            Activité
        </th>
        <th>
            Actions
        </th>


        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.intitule)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date)
        </td>
        <td>

        </td>
        <td>
            @Html.ActionLink("Aperçu", "AperçuQuestionnaire", new { id = item.Id }) |
            @Html.ActionLink("Update", "PageUpdateQuestionnaire", new { id = item.Id }) |
            @Html.ActionLink("Delete", "DeleteQuestionnaire", new { id = item.Id }) |
            @Html.ActionLink("Copy", "CopyQuestionnaire", new { id = item.Id })
        </td>
    </tr>
}

</table>
